{% extends "base.html" %}

{% load static %}

{% block content %}

{% block page_header %}
{% endblock %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col my-auto">
            <h1>
                <span class="join-the-text">Join the</span>
                <span class="revolution-text"> revolution</span>
            </h1>
            <div>
                <h4>
                    <a href="#" class="shop-now-button btn btn-lg rounded-10 py-3">Shop Now</a>
                </h4>
            </div>
            <h3>
                Not sure which product is for you?
            </h3>
            <div>
                <h4>
                    <a href="#" class="take-quiz-button btn btn-lg rounded-10 py-3">Take our quiz</a>
                </h4>
            </div>
        </div>
    </div>
</div>


{% endblock %}