{% extends "base.html" %}

{% load static %}

{% block content %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}
<div class="index-overlay">
<div class="container h-100">
    <div class="row h-100">
        <div class="col my-auto">
            <h1 class="index-hero-text">
                <span class="join-the-text">Join the</span>
                <span class="revolution-text"> revolution</span>
            </h1>
            <div>
                <h4>
                    <a href="#" class="shop-now-button btn btn-lg rounded-10 py-3">Shop Now</a>
                </h4>
            </div>
            <h3 class="not-sure-header">
                Not sure which product is for you?
            </h3>
            <div>
                <h4>
                    <a href="#" class="take-quiz-button btn btn-lg rounded-10 py-3">Take our quiz</a>
                </h4>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}