@import url('http://fonts.cdnfonts.com/css/eglantine');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/vanessa_ramirez.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Nunito', sans-serif;
}

.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    height: 15px;
    background-color: #6f9b51;
    width: 100vw;
    color: white;
    font-size: 0.6rem;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
}

.index-hero-text {
    font-size: 3.5rem;
}
.index-overlay {
    background-color: rgba(255, 255, 255, 0.781);
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
}

.opaque-overlay {
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
}

.card-img-top {
    max-height: 200px;
    width: auto;
    margin: auto auto;
}


.ecomenses-logo {
    padding-top: 30px;
    padding-left: 40px;
    background: -webkit-linear-gradient(to right, #6f9b51 0%, #ffccff 35%);
    background: -moz-linear-gradient(to right, #6f9b51 0%, #ffccff 35%);
    background: linear-gradient(to right, #6f9b51 0%, #ffccff 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.eco-logo-text {
    font-family: 'Eglantine', sans-serif;
    font-size: 3.5rem;
}

.nav-icons {
    color:rgb(128, 128, 128);   
}

.nav-icons:hover {
    color:rgb(70, 70, 70);
}

.revolution-text {
    text-transform: uppercase;
    display: block;
}

.not-sure-header {
    margin-top: 50px;
}

.shop-now-button{
    background-color: #93bd77;
    border: 2px solid black;
    border-radius: 20px;
    width: 220px;
}

.shop-now-button:hover{
    background-color: #93bd77c0;
    border: 2px solid rgb(90, 90, 90);
}

.take-quiz-button{
    background-color: #ffccf1;
    border: 2px solid black;
    border-radius: 20px;
    width: 220px;
}

.take-quiz-button:hover{
    background-color: #ffccf1c0;
    border: 2px solid rgb(90, 90, 90);
}

#delivery-banner {
    background-color: #ffccf1;
}

.banner-text {
    font-size: 1rem;
    font-weight: 600;
}

footer {
    bottom: 0;
    width: 100vw;
    background-color: white;
    position: fixed;
    height: 70px;
    padding-top: 10px;
}

.footer-link {
    color:rgb(128, 128, 128);
}

.footer-link:hover {
    color:rgb(70, 70, 70);
}

.footer-link > i {
    font-size: 1.3rem;
    margin: 5px;
}

.product-link {
    visibility: hidden;
    display: none;
    color: rgb(90, 161, 108);
    font-size: 0.7rem;
    text-transform: capitalize;
}

.product-link:hover {
    color: #ff7b91;
    text-decoration: none;
}

.product-link-icon:hover .product-link {
    visibility: visible;
    display: inline-block;
}

.product-detail-padding {
    height: 70px;
}

.product-page-split {
    border-style: dashed;
    border-color: rgb(202, 202, 202);
}

.product-container {
    padding-bottom: 100px;
}

.scroll-to-top {
    position: fixed;
    bottom: 80px;
    right: 30px;
    cursor: pointer;
}

.scroll-to-top > a > i {
    font-size: x-large;
    color: #6f9b51;
}

.add-to-basket-form {
    margin-bottom: 100px;
}

.add-to-basket-button {
    background-color: #6f9b51;
}

.add-to-basket-button:hover {
    background-color: #9fc983;
}

.keep-shopping-button {
    background-color: #ffccf1;
}

.keep-shopping-button:hover {
    background-color: #f8dff1;
}

.size-explanation {
    font-size: 0.7rem;
}

.basket-table-image {
    height: 40px;
}

.basket-product-link {
    color: #6f9b51;
}

.basket-product-link:hover {
    color: #ffccf1;
}

.basket-table {
    margin-bottom: 100px;
}

.remove-item {
    cursor: pointer;
}



/* -------------------------------- Media Queries */

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 100px;
    }
    .product-detail-padding {
        height: 0px;
    }
    .top-banner {
        display: block;
    }
}

@media (max-width: 470px) {
    .nav-icons {
        font-size: 0.8rem;
        padding: 5px;
    }
    .banner-text {
        font-size: 0.6rem;
        font-weight: 400;
    }
    .join-the-text {
        font-size: 2.2rem;
    }
    .revolution-text {
        font-size: 2.5rem;
    }
    
    .not-sure-header {
        font-size: 1.4rem;
    }
    footer {
        font-size: 0.7rem;
        height: 50px;
        padding-top: 5px;
    }
    .footer-link > i {
        font-size: 1rem;
    }
    .navbar-toggler {
        padding: 2px;
        font-size: small;
        margin-right: 10px;
    }
    .product-detail-padding {
        height: 40px;
    }
    .products-heading {
        font-size: 1rem;
        margin-top: 30px;
    }
}