<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">

            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cups-and-discs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cups & Discs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cups-and-discs-link">
                <a href="" class="dropdown-item">Menstrual Cups</a>
                <a href="" class="dropdown-item">Menstrual Discs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pads-and-undies-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pads & Underwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pads-and-undies-link">
                <a href="" class="dropdown-item">Cloth Sanitary Pads</a>
                <a href="" class="dropdown-item">Menstrual Underwear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cleaning-and-storage-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cleaning-and-storage-link">
                <a href="" class="dropdown-item">Menstrual Product Cleaning</a>
                <a href="" class="dropdown-item">Menstrual Product Storage</a>
                <a href="" class="dropdown-item">Other</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="#">
                Quiz
            </a>
        </li>
    </ul>
</div>